/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page-image: url("../images/cover-image-light.png");
  --display-decorated-text: none;
  --bg-page-color: #fff1f7;
  --accent-color: #ff8dcb;
  --interactive-color: #353430;
  --btn-hover-color: #32312d66;
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --title-color: #353430;
  --main-font-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page-image: url("../images/cover-image-light.png");
    --display-decorated-text: none;
    --bg-page-color: #fff1f7;
    --accent-color: #ff8dcb;
    --interactive-color: #353430;
    --btn-hover-color: #32312d66;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --title-color: #353430;
    --main-font-color: #353430;
  }
}
