/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* Надо будет повысить padding 10px при большем экране */
  background-image: var(--bg-page-image);
  background-color: var(--bg-page-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: var(--page-padding);
  font-family: "IBM Plex mono";
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  /* Высота шапки с учётом padding у .page */
  min-height: calc(var(--height-phone) - var(--page-padding));
  height: calc(100vh - var(--page-padding));
  padding-bottom: 10px;
}

/* Декоративная часть шапки*/
.decorated-zone::before {
  /* Верхний уголок */
  position: absolute;
  top: 0;
  right: 0; /* Временно */
  content: " ";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-decor-color);
  border-right: 1px solid var(--header-decor-color);
}

.decorated-zone::after {
  /* Нижний уголок */
  position: absolute;
  bottom: 10px;
  left: 0; /* Временно */
  content: " ";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-decor-color);
  border-left: 1px solid var(--header-decor-color);
}

.header__decorated-text {
  position: absolute;
  top: 0;
  right: 28px;
  color: var(--header-decor-color);
}

.header__decorated-text::after {
  content: " ";
  position: absolute;
  left: 42px;
  top: 8px;
  box-shadow: 0 0 5px 3px var(--header-decor-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--header-decor-color);
}

/* Кнопки переключения темы в шапке */
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--header-decor-color);
  font-family: inherit;
  text-transform: lowercase;
  background-color: transparent;
  width: 70px;
  height: 26px;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-decor-color)66;
}

/* Контентная часть шапки*/
.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__title {
  justify-self: center;
  line-height: 81%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.title-decor {
  font-weight: bold;
  align-self: center;
  line-height: 125%;
  background-color: var(--accent-color);
  color: var(--hd-color);
}

.header__title {
  position: relative;
}

/* Медиазапросы */
@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
